@import url("https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&family=Rubik+Lines&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #ffffff;
  --secondary-color: #fb6f92;
  --optional-color: #ff8fab;
}
body {
  background-color: var(--primary-color);
}
